$themeColor-Light: #f30d17;
$themeColor-Dark:#b68d4c;

$theme-font:    verdana, sans-serif;

body {
  font: $theme-font;
  h1, h2 {
  }
}


@import '../../node_modules/dropzone-frontend/lib/styles/export/dropzone-lib';
