
$dropzone-border-color: #e4e7ed !default;
$dropzone-border: 1px dashed $dropzone-border-color !default;
$dropzone-drag-in-progress-color: #00CC71 !default;
$dropzone-invalid-type-background-color: red !default;

$dropzone-anchor-color: #0088cc !default;
$dropzone-anchor-hover-border-bottom: 1px solid $dropzone-anchor-color !default;

$dropzone-output-max-width: 200px !default;

$dropzone-file-name-color: $dropzone-anchor-color !default;
$dropzone-file-name-hover-border-bottom: 1px solid $dropzone-file-name-color !default;

$dropzone-file-icon-color: #494d56 !default;
$dropzone-file-icon-background-color: #f1f1f1 !default;
$dropzone-file-icon-border-color: #e4e7ed !default;
$dropzone-file-icon-border: 1px solid $dropzone-file-icon-border-color !default;
$dropzone-file-icon-min-width: 180px !default;
$dropzone-file-icon-min-height: 145px !default;

$dropzone-thumbnail-container-border-color: #e4e7ed !default;
$dropzone-thumbnail-container-border: 1px solid $dropzone-thumbnail-container-border-color !default;

$dropzone-thumbnail-container-min-width: 180px !default;
$dropzone-thumbnail-container-min-height: 145px !default;

$dropzone-thumbnail-img-max-width: 180px !default;
$dropzone-thumbnail-img-max-height: 145px !default;

$dropzone-upload-status-background-color: white !default;
$dropzone-upload-status-error-color: red !default;