.m-dropzone {
  padding: 16px;
  border-radius: 8px;
  border: $dropzone-border;

  &.m-dropzone--drag-in-progress {
    background: $dropzone-drag-in-progress-color;
  }

  &.m-dropzone--invalid-type {
    background: $dropzone-invalid-type-background-color;

    .m-dropzone__text {
      display: none;
    }

    .m-dropzone__invalid-type-text {
      display: block;
      text-align: center;
      margin-bottom:  8px;
    }
  }

  &.m-dropzone--is-readonly {

    .m-dropzone__text {
      display: none;
    }

    .m-dropzone-output.m-dropzone-output--is-deletable .m-dropzone-output__delete-button {
      display: none;
    }

    .m-dropzone-output.m-dropzone-output--is-deletable:hover .m-dropzone-output__delete-button {
      display: none;

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}

.m-dropzone__anchor-browse {
  color: $dropzone-anchor-color;

  &:hover {
    cursor: pointer;
    border-bottom: $dropzone-anchor-hover-border-bottom;
  }
}

.m-dropzone__text {
  text-align: center;
  display: block;
  margin-bottom: 8px;
}

.m-dropzone__invalid-type-text {
  display: none;
}

.m-dropzone__output-container {
  display: flex;
  flex-wrap: wrap;
}
